.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: linear-gradient(0deg,  #1f3c53 0%,#153452 50%,#071427 100%);
    opacity: 0.9;
    border-bottom: 1px solid #2b2141;
    border-radius: 2rem;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
    padding: 0.6rem 2rem;
    margin-bottom: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: larger;
    font-weight: 600;
    text-shadow: 2px 2px 6px black;
}

.div {
    display: flex;
    align-items: center;
}

.img {
    max-width: 70px;
    max-height: 40px;
}

.span {
    padding-left: 10px;
    color: white;
}

.create {
    color: white;
    text-decoration: none;
}

.input {
    align-items: center;
    text-align: center;
    border-radius: 0.7rem;
    margin-right: 3px;
    height: 1.4rem;
}

.btn {
    color: #edeef1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
    font-weight: 900;
    text-transform: uppercase;
    border: 3.5px #07070b solid;
    background-color: #eb2024;
    border-radius: 0.9rem;
    text-align: center;
    width: 6rem;
    height: 2rem;
}

.btn:hover {
    color: #edeef1;
    border: 3px #eb2024 solid;
    background-color: #07070b;
}
