.App {
    background-image: url("../../images/pikachufondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* min-height: 100vh; */
    width: 100vw;
    height: 100vh;
  }

.title {
    color: #39739d;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px white;
    /* margin-left: 30%;
    margin-right: 30%; */
}

/* .link {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    text-decoration: none;
} */

.btnGeneral {
    background-image: url("../../images/pokeBall.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    /* color: black; */
    width: 80px;
    height: 80px;
    /* font-size: 15px; */
    /* font-weight: 900; */
    /* text-transform: uppercase; */
    /* border: 9px solid rgb(15, 15, 15); */
    /* border-radius: 50%; */
    /* box-shadow: 1px 1px 10px black; */
    cursor: pointer;
    /* background: linear-gradient(90deg, #969696 0%, rgb(192, 192, 192) 50%,white 100%); */
    /* text-decoration: none; */
    left: 15%;
    top: 30%;
    transition: transform 0.7s ease-in-out;
}

.btnGeneral:hover {
    /* background: linear-gradient(45deg, #fb8a0b 0%, #ffdd97 50%, white 100%); */
    /* color: black; */
    /* border: 5px solid black; */
    transform: rotate(360deg) scale(1.7);
}