.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paginated {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}

.currentPage {
    color: white;
    padding: 6px 10px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    background-color: #143652;
}

.list {
    color: white;
    padding: 6px 10px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    background-color: #4f6979;
}

.btn {
    color: white;
    padding: 6px 8px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 500;
    border: 2px solid #edeef1;
    border-radius: 17px;
    cursor: pointer;
    background-color: #143652;
}

.btn:hover {
    color: #07070b;
    background: #edeef1;
    border: 2px solid #07070b;
}

.btn[disabled] {
    color: #edeef1;
    background-color: #314d5f;
    border: 2px solid #143652;
    cursor: no-drop;
}
